---
import Layout from '../layouts/Layout.astro';
import arrow from '../assets/arrow.svg';
import '../styles/projects.css';

const projects = [
  { name: 'FileShare', url: 'https://github.com/Erion14/FileShare', description: 'File sharing project using IPFS, Next.js, and .NET for secure and decentralized storage.' },
  { name: 'Java E-commerce Backend', url: 'https://github.com/Erion14/Java-E-commerce-Backend', description: 'A backend for an e-commerce shop using Java and Object-Oriented principles.' },
  { name: 'Copilot Code Context', url: 'https://github.com/Erion14/Copilot-Code-Context', description: 'A VS Code extension to send clipboard code to GitHub Copilot as file context.' },
  { name: 'Twitter Unfollow Extension', url: 'https://github.com/Erion14/twitter-unfollow', description: 'A Chrome extension to manage Twitter followings.' },
  { name: 'LeetCode', url: 'https://github.com/Erion14/LeetCode', description: 'A collection of my LeetCode solutions.' },
];
---

<Layout>
  <main>
    <div class="container">
      <section class="projects-section">
        <h2>Projects</h2>
        <p class="subtitle">Here are some projects that I have worked on.</p>
        <div class="projects-list">
          {projects.map(project => (
            <a href={project.url} class="project-entry" target="_blank" rel="noopener noreferrer">
              <div class="project-info">
                <span class="project-name">{project.name}</span>
                <p class="project-description">{project.description}</p>
              </div>
              <img src={arrow.src} alt="arrow icon" />
            </a>
          ))}
        </div>
      </section>
    </div>
  </main>
</Layout>
