---
import Layout from '../layouts/Layout.astro';
import arrow from '../assets/arrow.svg';
import { projects } from '../data/projects';
import '../styles/projects.css';
---

<Layout>
  <main>
    <div class="container">
      <section class="projects-section">
        <h2>Projects</h2>
        <p class="subtitle">Here are some projects that I have worked on.</p>
        <div class="projects-list">
          {projects.map(project => (
            <a href={project.url} class="project-entry" target="_blank" rel="noopener noreferrer">
              <div class="project-info">
                <span class="project-name">{project.name}</span>
                <p class="project-description">{project.description}</p>
              </div>
              <img src={arrow.src} alt="arrow icon" />
            </a>
          ))}
        </div>
      </section>
    </div>
  </main>
</Layout>
