---
import homeIcon from '../assets/home.svg';
import computerIcon from '../assets/computer.svg';
import '../styles/navbar.css';
---

<nav class="navbar">
  <a href="/" class="nav-link">
    <img src={homeIcon.src} alt="Home" />
    <span class="link-text">Home</span>
  </a>
  <a href="/projects" class="nav-link">
    <img src={computerIcon.src} alt="Projects" />
    <span class="link-text">Projects</span>
  </a>
</nav>
